.dashboard{
    // display: flex;
    padding: 0px 8%;
    height: 70vh;
    &__data{
        display: flex;
        &-wall{
            margin: 0 8px;
            border-right: 1px rgba(245, 245, 245, 0.2) solid;
        }
    }
}
@media only screen and (max-width: 960px) {
    .dashboard{
        &__data{
            flex-direction: column;
        }
    }
}