.dashboard{
    // background: linear-gradient(45deg, rgba(182, 71, 209, 0.36) 0%, rgba(182, 71, 209, 0.36) 23%,rgba(156, 49, 197, 0.36) 23%, rgba(156, 49, 197, 0.36) 26%,rgba(221, 104, 228, 0.36) 26%, rgba(221, 104, 228, 0.36) 31%,rgba(234, 115, 234, 0.36) 31%, rgba(234, 115, 234, 0.36) 44%,rgba(208, 93, 222, 0.36) 44%, rgba(208, 93, 222, 0.36) 50%,rgba(169, 60, 203, 0.36) 50%, rgba(169, 60, 203, 0.36) 72%,rgba(195, 82, 215, 0.36) 72%, rgba(195, 82, 215, 0.36) 84%,rgba(247, 126, 240, 0.36) 84%, rgba(247, 126, 240, 0.36) 100%),linear-gradient(45deg, rgba(233, 117, 183, 0.34) 0%, rgba(233, 117, 183, 0.34) 12.5%,rgba(168, 68, 213, 0.34) 12.5%, rgba(168, 68, 213, 0.34) 25%,rgba(189, 85, 203, 0.34) 25%, rgba(189, 85, 203, 0.34) 37.5%,rgba(255, 133, 173, 0.34) 37.5%, rgba(255, 133, 173, 0.34) 50%,rgba(102, 20, 243, 0.34) 50%, rgba(102, 20, 243, 0.34) 62.5%,rgba(124, 36, 233, 0.34) 62.5%, rgba(124, 36, 233, 0.34) 75%,rgba(211, 101, 193, 0.34) 75%, rgba(211, 101, 193, 0.34) 87.5%,rgba(146, 52, 223, 0.34) 87.5%, rgba(146, 52, 223, 0.34) 100%),linear-gradient(192deg, rgb(214, 170, 198),rgb(119, 2, 176));
    height: calc(100vh - 48px);
    // width: calc(100vw - 80px);
    top: 0;
    left: auto;
    border-radius: 48px;
    box-shadow: 0px 64px 100px -51px rgba(0, 0, 0, 0.73);
    width: 84%;
    margin: 24px auto;
    max-width: 1080px;
    min-width: 580px;
}