.header{
    display: flex;
    margin: 24px 8%;
    justify-content: space-between;
    padding-top: 40px;
    height: 54px;
    &__company{
        display: flex;
        &-supername{
            position: relative;
            top: 10px;        
            display: flex;
            align-items: flex-end;
            font-size: 48px;
            font-weight: 300;
            text-decoration: none;
        }
    }
    &__btns{
        display: flex;
        margin-top: 14px;
        align-items: center;
        & > a{
            transition: background-color .2s ease-in-out;
            cursor: pointer;
            text-decoration: none;
            border-radius: 2px;
            font-size: 14px;
        }
        &-info{
            color: whitesmoke;
            margin-right: 24px;
            font-weight: 500;
            padding: 8px 24px;
            cursor: pointer;
            text-decoration: none;
        }
        &-new{
            background-color: rgb(255, 249, 255);
            color:rgb(85, 26, 139);
            margin-right: 24px;
            font-weight: 500;
            padding: 8px 18px;
            &:hover{
                background-color: rgb(250, 190, 255);
            }
        }
        &-signup{
            padding: 8px 24px;
            background-color: rgb(255, 200, 60);
            font-weight: 600;
            &:hover{
                background-color: rgb(255, 185, 3);

            }
        }
    }

}