.loginbox{
    width: 30vw;
    margin: auto;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 0px 17px 2px rgba(0,0,0,0.33);
    padding: 12px 32px;
    box-sizing: border-box;
    min-width: 400px;
    max-width: 440px;
    &-names{
        display: flex;
        justify-content: space-between;
        &-first{
            margin-right: 16px;
        }
    }
    &-container{
        display: flex;
        justify-content: flex-end;
    }
    &-btn{
        cursor: pointer;
        background-color: rgba(154, 0, 192, 0.678);
        color: white;
        border-radius: 4px;
        border: 1px solid white;
        font-size: 16px;
        padding: 10px 14px;   
    }
    &-switch{
        display: flex;
        justify-content: flex-start;
        transform: translateY(-30px);
        width: calc(100% - 82px);
        &__label{
            margin-right: 10px;
        }
        &__btn{
            text-decoration: underline;
            color: rgba(154, 0, 192, 0.678);
            font-weight: bold;
            font-size: 16px;
            cursor: pointer;
        }
    }
}